.Container::before {
  position: fixed;
  content: '';
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-image: url("/bg_photo.webp");
  background-size: cover;
  background-position: center center;
  z-index: -1;
  opacity: 0.4;
}

.Menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 325px;
}

.Content {
  width: 100%;
  padding: 0 64px 0 calc(325px + 64px);
  overflow: auto;
}

.Section {
  min-height: 100vh;
  padding: 64px 0;
}

.Footer {
  background-color: var(--color-bg);
  padding: 48px;
  display: none;
}

@media screen and (max-width: 1024px) {
  .Menu {
    position: fixed;
    height: 98px;
    width: 100%;
  }

  .Content {
    margin-top: 98px;
    padding: 0 48px;
  }

  .Section {
    min-height: calc(100vh - 98px);
    padding: 48px 0;
  }

  .Footer {
    display: block;
  }

  .FooterContent {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 700px) {
  .Menu {
    height: max-content;
  }

  .Content {
    margin-top: 68px;
    padding: 0 24px;
  }

  .Section {
    min-height: calc(100vh - 68px);
    padding: 24px 0;
  }

  .Footer {
    padding: 24px;
  }

  .FooterContent {
    grid-template-columns: 1fr;
  }
}