.Container {
  position:  relative;

  display: flex;
  flex-direction: column;
  gap: 64px;

  --border-width: 16px;
}

.Container::before {
  content: '';
  position: absolute;
  top: 135px;
  left: 388px;
  right: 64px;
  bottom: 64px;
  z-index: -1;
  box-sizing: border-box;
  border: var(--border-width) solid var(--color-bg-05);
}

.Content {
  padding-bottom: var(--border-width);
}

.Title {
  font-size: var(--font-size-xxl);
  align-self: flex-end;
  animation: move 10s ease-in-out infinite;

  font-weight: var(--font-weight-extra-bold);

  width: max-content;
}

@keyframes move {
  0% {
   transform: translateY(-16px);
  }

  50% {
    transform: translateY(16px);
  }

  100% {
    transform: translateY(-16px);
  }
}

@media screen and (max-width: 1024px) {
  .Container {
    gap: 32px;

    --border-width: 12px;
  }

  .Container::before {
    top: 106px;
    left: 48px;
    right: 48px;
    bottom: 48px;
  }

  @keyframes move {
    0% {
      transform: translateY(-12px);
    }

    50% {
      transform: translateY(12px);
    }

    100% {
      transform: translateY(-12px);
    }
  }
}

@media screen and (max-width: 600px) {
  .Container {
    gap: 24px;

    --border-width: 8px;
  }

  .Container::before {
    top: 92px;
    left: 24px;
    right: 24px;
  }

  .Title {
    align-self: center;
  }

  @keyframes move {
    0% {
      transform: translateY(-8px);
    }

    50% {
      transform: translateY(8px);
    }

    100% {
      transform: translateY(-8px);
    }
  }
}