.Container {
  position:  relative;

  display: flex;
  flex-direction: column;
  gap: 64px;

  background: var(--color-bg-05);
  backdrop-filter: blur(20px);
}

.Container::before {
  content: '';
  position: absolute;
  top: 135px;
  left: 500px;
  right: 64px;
  bottom: 64px;
  z-index: -1;
  box-sizing: border-box;
  border: 16px solid var(--color-bg-05);
}

.Title {
  font-size: var(--font-size-xxl);
  align-self: flex-end;

  font-weight: 800;
  letter-spacing: 0.01em;
}

@media screen and (max-width: 1024px) {
  .Container {
    gap: 32px;
  }

  .Container::before {
    top: 106px;
    left: 148px;
    right: 48px;
    bottom: 48px;
    border-width: 12px;
  }
}

@media screen and (max-width: 700px) {
  .Container {
    gap: 24px;
    backdrop-filter: blur(15px);
  }

  .Container::before {
    top: 92px;
    left: 24px;
    right: 24px;
    bottom: 48px;
    border-width: 8px;
  }

  .Title {
    align-self: center;
  }
}