.Container {
  position: relative;

  display: flex;
  flex-direction: column;
}

.Heading {
  all: unset;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 16px;
  padding: 16px 0;
}

.Heading::after {
  position: absolute;
  content: '';
  left: 0;
  right: 0;
  bottom: 0;
  height: 4px;

  background-color: var(--color-primary);
}

.Heading[aria-disabled='false'] {
  cursor: pointer;
}

.Title {
  display: flex;
  align-items: center;
  gap: 24px;

  font-weight: var(--font-weight-extra-bold);
  font-size: var(--font-size-m);
}

.Arrow {
  min-width: 16px;
  min-height: 16px;
  transform: rotate(-90deg);

  transition: transform 0.2s ease-in-out;

  background-color: var(--color-primary);
  mask-image: url("/icons/arrowDown.svg");
  mask-size: contain;
  mask-repeat: no-repeat;
}

.Container[aria-expanded='true'] .Arrow {
  transform: rotate(0);
}

.Container[aria-expanded='false'] .Heading:hover .Arrow {
  transform: translateX(8px) rotate(-90deg);
}

.Dates {
  font-weight: var(--font-weight-light);
  font-size: var(--font-size-s);
}

.Date {
  white-space: nowrap;
}

.Content {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px 0 4px;
}

.Description {
  font-weight: var(--font-weight-light);
  font-size: var(--font-size-s);
}

.Tags,
.Links {
  display: flex;
  flex-wrap: wrap;
  gap: 8px 24px;

  padding: 4px 0;

  font-size: var(--font-size-s);
  font-weight: var(--font-weight-bold);
}

.Link::after {
  width: 16px;
  height: 16px;
}

@media screen and (min-width: 601px) {
  .Container_left {
    padding-right: calc(50% + 12px);
  }

  .Container_right {
    padding-left: calc(50% + 12px);
  }

  .Container_right .Heading {
    flex-direction: row-reverse;
  }

  .Container_right .Title {
    flex-direction: row-reverse;
  }

  .Container_right .Title p {
    text-align: right;
  }

  .Container_right .Arrow {
    transform: rotate(90deg);
  }

  .Container_right[aria-expanded='false'] .Heading:hover .Arrow {
    transform: translateX(-8px) rotate(90deg);
  }

  .Container_right .Description {
    text-align: right;
  }

  .Container_right .Tags,
  .Container_right .Links {
    flex-direction: row-reverse;
  }
}

@media screen and (max-width: 600px) {
  .Heading {
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 10px;
  }

  .Heading::after {
    height: 3px;
  }
}