.Container {
  position: relative;

  display: flex;
  flex-direction: column;
}

.Heading {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0;
  box-shadow: 0 -4px 0 0 var(--color-primary) inset;
}

.Heading[aria-disabled='false'] {
  cursor: pointer;
}

.Title {
  display: flex;
  align-items: center;
  gap: 24px;

  font-weight: var(--font-weight-extra-bold);
  font-size: var(--font-size-l);
}

.Arrow {
  width: 16px;
  height: 16px;
  transform: rotate(-90deg);

  transition: transform 0.2s ease-in-out;

  background-color: var(--color-primary);
  mask-image: url("/icons/arrowDown.svg");
  mask-size: contain;
  mask-repeat: no-repeat;
}

.Container[aria-expanded='true'] .Arrow {
  transform: rotate(0);
}

.Container[aria-expanded='false'] .Heading:hover .Arrow {
  transform: translateX(8px) rotate(-90deg);
}

.Dates {
  font-weight: var(--font-weight-light);
  font-size: var(--font-size-s);
}

.Content {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px 0 4px;
}

.Description {
  font-weight: var(--font-weight-light);
  font-size: var(--font-size-s);
}

.Tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px 24px;

  padding: 4px 0;

  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-s);
}

@media screen and (max-width: 600px) {
  .Heading {
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 10px;
    box-shadow: 0 -3px 0 0 var(--color-primary) inset;
  }
}