.Container {
  display: grid;
  gap: 16px;
  font-weight: var(--font-weight-light);
  font-size: var(--font-size-xs);
}

.Row {
  display: flex;
  align-items: center;
  gap: 12px;
}

.Link {
  display: flex;
  align-items: center;
  column-gap: 4px;
}

.Link::after {

}

.Icon {
  width: 24px;
  height: 24px;

  background-color: var(--color-primary);
  mask-size: contain;
  mask-repeat: no-repeat;
}

.Icon_mail {
  mask-image: url("/icons/mail.svg");
}
.Icon_phone {
  mask-image: url("/icons/phone.svg");
}
.Icon_telegram {
  mask-image: url("/icons/telegram.svg");
}
.Icon_linkedin {
  mask-image: url("/icons/linkedin.svg");
}
.Icon_instagram {
  mask-image: url("/icons/instagram.svg");
}
.Icon_github {
  mask-image: url("/icons/github.svg");
}

@media screen and (max-width: 1024px) {
  .Container {
    grid-template-columns: 1fr 1fr;
  }

  .Row:nth-child(2n) {
    flex-direction: row-reverse;
  }
}

@media screen and (max-width: 600px) {
  .Container {
    grid-template-columns: 1fr;
  }

  .Row:nth-child(n) {
    flex-direction: row;
  }
}
