.Container::before {
  position: fixed;
  content: '';
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-image: url("/bg_photo.webp");
  background-size: cover;
  background-position: center center;
  z-index: -1;
  opacity: 0.5;

  color: var(--color-primary);
}

.Menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 335px;
}

.Content {
  width: 100%;
  overflow: auto;
}

.SectionList {
  background: var(--color-bg-05);
  backdrop-filter: blur(20px);
}

.Section {
  min-height: 100vh;
  padding: 64px 64px 64px calc(325px + 64px);
}

.Footer {
  background-color: var(--color-bg);
  padding: 48px;
  display: none;
}

@media screen and (max-width: 1024px) {
  .Menu {
    position: fixed;
    height: 98px;
    width: 100%;
  }

  .Content {
    margin-top: 98px;
  }

  .Section {
    min-height: calc(100vh - 98px);
    padding: 48px;
  }

  .Footer {
    display: block;
  }
}

@media screen and (max-width: 700px) {
  .Menu {
    height: max-content;
  }

  .Content {
    margin-top: 54px;
  }

  .Section {
    min-height: calc(100vh - 54px);
    padding: 48px 24px;
  }

  .Footer {
    padding: 24px;
  }
}