.Container {
  background-color: var(--color-bg-08);
  padding: 64px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Menu {
  position: relative;
  display: grid;
  grid-gap: 12px;
  width: 120px;
}

.Tab {
  all: unset;
  width: 100%;
  height: 54px;
  font-weight: 800;
  font-size: var(--font-size-m);
  text-transform: uppercase;
  letter-spacing: 0.01em;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.2s ease-in-out;
}

.Tab_active {
  opacity: 1;
}

.Controls {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 54px;
}

.Burger {
  display: none;

  height: 36px;
  width: 36px;

  background-color: var(--color-primary);
  mask-image: url("/icons/burger.svg");
  mask-size: contain;
  mask-repeat: no-repeat;
}

.ThemeSwitcher {
  all: unset;

  width: 32px;
  height: 32px;

  background-color: var(--color-primary);
  mask-image: url("/icons/theme.svg");
  mask-size: contain;
  mask-repeat: no-repeat;

  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .Container {
    padding: 24px 48px;
    background-color: var(--color-bg);
  }

  .Menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .Tab {
    height: 50px;
    text-align: center;
  }

  .Controls {
    justify-content: center;
    height: 50px;
  }

  .Contacts {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .Container {
    padding: 8px 16px;

    transform: translateY(calc(-1 * 100% + 54px));
    transition: transform 0.2s ease-in-out;
  }

  .Menu {
    flex-direction: column;
    align-items: center;
  }

  .Tab {
    height: 40px;
  }

  .Controls {
    justify-content:space-between;
    height: max-content;
  }

  .Burger {
    display: initial;
  }

  .Container[aria-expanded="true"] {
    transform: translateY(0);
  }
}